<!doctype html>
<html ng-app="myApp">
  <head>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script> -->
    <script src="lib/angular.js"></script>
    <script src="lib/jquery-2.1.3.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
	<div ng-controller="SimpleAjaxController">

    <button ng-click="callGet()">GET</button>
    <p>Result: [{{ resultGet }}]</p>

    <br/>
    <br/>

    <hr/>

    <label>Id:</label>
    <input type="text" ng-model="idSearch"/>
    <button ng-click="callGetById(idSearch)">GET by Id</button>

    <p>Result: [{{ resultGetById }}]</p>

    <br/>
    <br/>

    <hr/>

    <label>Id:</label>
    <input type="text" ng-model="id"/>

    <label>Name:</label>
    <input type="text" ng-model="name"/>

    <br/>
    <br/>

    <button ng-click="callHttpPostJsonToJson()">Call Http POST json (client) to json (server)</button>
    <pre style="overflow: hidden; height: 250px; border:1px solid #eee;">Result: <pre>[{{ resultHttpPostJsonToJson }}]</pre> </pre>


    <button ng-click="callHttpPostJsonToForm()">Call Http POST json (client) to form (server)</button>
    <pre style="overflow: hidden; height: 250px; border:1px solid #eee;">Result: <pre>[{{ resultHttpPostJsonToForm }}]</pre> </pre>


    <button ng-click="callHttpPostFormToJson()">Call Http POST form (client) to json (server)</button>
    <pre style="overflow: hidden; height: 250px; border:1px solid #eee;">Result: <pre>[{{ resultHttpPostFormToJson }}]</pre> </pre>


    <button ng-click="callHttpPostFormToForm()">Call Http POST form (client) to form (server)</button>
    <pre style="overflow: hidden; height: 250px; border:1px solid #eee;">Result: <pre>[{{ resultHttpPostFormToForm }}]</pre> </pre>


    <button ng-click="callAjaxJson()">Call AjaxJson</button>
    <pre style="overflow: hidden; height: 250px; border:1px solid #eee;">Result: <pre>[{{ resultAjaxJson }}]</pre> </pre>

    <button ng-click="callAjaxUrlencoded()">Call AjaxUrlencoded</button>
    <pre style="overflow: hidden; height: 250px; border:1px solid #eee;">Result: <pre>[{{ resultAjaxUrlencoded }}]</pre> </pre>

    <br/>

    ACTION="http://localhost:9000/api/items.json" ENCTYPE="application/json"
    <form method="POST" action="http://localhost:9000/api/items.json" enctype="application/json">
      <label>Id:</label>
      <input name="id" type="text"/><br />
      <label>Name:</label>
      <input name="name" type="text"/><br />
      <input type="submit" value="ok">
    </form>

    <br/>

    ACTION="http://localhost:9000/api/items.form" ENCTYPE="application/x-www-form-urlencoded"
    <form method="POST" action="http://localhost:9000/api/items.form" enctype="application/x-www-form-urlencoded">
      <label>Id:</label>
      <input name="id" type="text"/><br />
      <label>Name:</label>
      <input name="name" type="text"/><br />
      <input type="submit" value="ok">
    </form>

    <br/>
    <br/>
    <br/>

	</div>
  </body>
</html>